<table class="datatable" style="width: 100%">>
    <thead>
        <tr>
            <th class="rank">Rank</th>
            <th class="method">Paper</th>
            <th class="arch">Alias</th>
            <!-- <th>Additional Description</th> -->
            <th class="aa">In-Distribution Accuracy</th>
            <th class="ca">NearOOD AUROC</th>
            <th class="aa">FarOOD AUROC</th>
            <th class="extra-data">Outlier Data</th>
            <th class="venue">Venue</th>
        </tr>
    </thead>
    <tbody>
        {% for model in models %}
        <tr>
            <td class = "ranktd">{{ model.Rank }}</td>
            <td class = "methoddt"><a href="{{ model.Link }}">{{ model.Paper }}</a></td>
            <td class = "archtd">{{ model.Alias }}</td>
            <!-- <td>{{ model['Additional Description'] }}</td> -->
            <td class = "aatd">{{ model['In-Distribution Accuracy Mean'] }}</td>
            <td class = "catd">{{ model['NearOOD AUROC Mean'] }}</td>
            <td class = "aatd" >{{ model['FarOOD AUROC Mean'] }}</td>
            <td class = "datatd">{{ model['Outlier Data'] }}</td>
            <td class = "venuetd">{{ model.Venue }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#{{ model['dataset'] }}_leaderboard").DataTable({
            lengthMenu: [15, 25, 50, 75, 100],
            "drawCallback": function (settings) {
                MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
            },
            language: {
                searchPlaceholder: "Papers, architectures, venues"
            },
            {% if threat_model != "corruptions" %}
            columnDefs: [
                { width: "15%", targets: 4 },
                { width: "15%", targets: 5 }
            ]
            {% endif %}
        });
    });
</script>
